@model IEnumerable<change_management.Models.Change>

@{
    ViewData["Title"] = "Changes";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <input type="button" value="Add Change" onclick="location.href='@Url.Action("AddChange", "Change")'" />
</div>
<br/>
<table id="dataTable">
    <tr>
        <th>Type</th>
        <th>Description</th>
        <th>Criticicality</th>
        <th>Deadline</th>
        <th>Priority</th>
        <th>Approver</th>
        <th>Steakholder</th>
        <th>Team Responsible</th>
        <th>User Responsible</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.criticality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.approver.forename)
                @Html.DisplayFor(modelItem => item.approver.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stakeholder.forename)
                @Html.DisplayFor(modelItem => item.stakeholder.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamResponsible.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userResponsible.forename)
                @Html.DisplayFor(modelItem => item.userResponsible.surname)
            </td>
        </tr>
    }
</table>