@model change_management.Models.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h3>@ViewData["Message"]</h3>

<br/>
<body>
    <div >
        <h4> My Team: @Model.team.name</h4>
        <div>
            <table id="dataTable" style="width: 25%;">
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                </tr>
                @foreach (var item in Model.team.teamMembers) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.forename) @Html.DisplayFor(modelItem => item.surname) 
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.role)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

    <br/>

    <div>
        <h4> Team Changes: </h4>
        <div>
            <table id="dataTable" style="width: 80%;">
                <tr>
                    <th>System</th>
                    <th>Type</th>
                    <th>Description</th>
                    <th>Priority</th>
                    <th>Deadline</th>
                    <th>Criticical Deadline</th>
                    <th>User Responsible</th>
                    <th>Processing time</th>
                    <th></th>
                </tr>
                @foreach (var item in Model.changes) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.system.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.priority)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.deadlineText)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.criticality)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.userResponsible.forename)
                            @Html.DisplayFor(modelItem => item.userResponsible.surname)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.processingTime) days
                        </td>
                        <td>
                            <input type="button" value="View Change" onclick="location.href='@Url.Action("Change", "Change", new { changeId = item.changeId })'" />
                            <input type="button" value="Edit Change" onclick="location.href='@Url.Action("Change", "Change", new { changeId = item.changeId })'" />
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>


