@model IEnumerable<change_management.Models.Team>

@{
    ViewData["Title"] = "Teams";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <input type="button" value="Add Team" onclick="location.href='@Url.Action("AddTeam", "Team")'" />
</div>
<p>
All Teams:
</p>
<table id="dataTable">
    <tr>
        <th>Id</th>
        <th>Team Name</th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.teamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                <input type="button" value="Team Members" onclick="location.href='@Url.Action("TeamMembers", "Team", new { id = item.teamID })'"/>
                @* <input type="button" title="Delete"    onclick="location.href='@Url.Action("Delete", "movies",    new { id = item.ID })'" />
                <input type="button" value="Let's Go!"    onclick="location.href='@Url.Action("Action", "Controller")'" /> *@
            </td>
        </tr>
    }
</table>