@model IEnumerable<change_management.Models.TeamMember>

@{
    ViewData["Title"] = "Teams Members";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewBag.teamName</h3>

<div>
    <input type="button" value="Add User" onclick="location.href='@Url.Action("AddTeamMember", "Team", new {teamId = @ViewBag.teamId})'" />
</div>
<p>
    All Users:
</p>
<table id="dataTable">
    <tr>
        <th>Forename</th>
        <th>Surname</th>
        <th>Role</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.user.forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.user.role)
            </td>
        </tr>
    }
</table>