@model IEnumerable<change_management.Models.Team>

@{
    ViewData["Title"] = "Teams";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <input type="button" value="Add Team" onclick="location.href='@Url.Action("AddTeam", "Team")'" />
</div>
<br/>
<p>
All Teams:
</p>
<table id="dataTable" style="width: 50%;">
    <tr>
        <th>Team Name</th>
        <th></th>
        <th></th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td> 
                <strong>@Html.DisplayFor(modelItem => item.name)</strong>
            </td>
            <td><strong>Team members</strong></td>
            <td> 
                <input type="button" value="Add User" onclick="location.href='@Url.Action("AddTeamMember", "Team", new {teamId = item.teamID})'" />
            </td>
        </tr>
        @foreach (var member in item.teamMembers) {
            <tr>
                <td></td>
                <td>
                    @Html.DisplayFor(modelItem => member.user.forename) @Html.DisplayFor(modelItem => member.user.surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => member.user.role)
                </td>
            </tr>
        }
    }
</table>