@model change_management.Models.Team

@{
    ViewData["Title"] = "My Team";
}

<h3>@ViewData["Title"]</h3>

<br/>
<body>
    <h4> My Team: @Model.name</h4>
    <div>
        <table id="dataTable" style="width: 25%;">
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>Days per week</th>
            </tr>
            @foreach (var item in Model.teamMembers) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.forename) @Html.DisplayFor(modelItem => item.user.surname) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.user.role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.throughput)
                    </td>
                </tr>
            }
        </table>
    </div>
    <br/>
    <div>
        <table id="dataTable" style="width: 25%;">
            <tr>
                <th>Team weekly throughput</th>
                <td>@Model.throughput days work</td>
            </tr>
        </table>
    </div>
</body>