@model change_management.Models.User

@{
    ViewData["Title"] = "Users";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="User" asp-action="SubmitNewUser" >
    <table id="inputTable" style="width: 50%;">
        <tr>
            <th><label for="Forename">Forename:</label></th>
            <td><input asp-for="@Model.forename"  type="text" name="forename" value="" /></td>
        </tr>
        <tr>
            <th><label for="Surname">Surname:</label></th>
            <td><input asp-for="@Model.surname" type="text" name="surname" value="" /></td>
        </tr>
        <tr>
            <th><label for="Role">Job Role:</label></th>
            <td><input asp-for="@Model.forename" type="text" name="role" value="" /></td>
        </tr>
    </table>
    <button type="submit">Submit Change</button>
</form>