@model change_management.Models.User

@{
    ViewData["Title"] = "Users";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="User" asp-action="SubmitNewUser" >
    <div>
        <label for="Forename">Forename:</label>
        <input asp-for="@Model.forename"  type="text" name="forename" value="" />
    </div>
    <div>
        <label for="Surname">Surname:</label>
        <input asp-for="@Model.surname" type="text" name="surname" value="" />
    </div>
    <div>
        <label for="Role">Job Role:</label>
        <input asp-for="@Model.forename" type="text" name="role" value="" />
    </div>
    <button type="submit">Submit Form</button>
</form>