@model IEnumerable<change_management.Models.User>

@{
    ViewData["Title"] = "Users";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>
    <a asp-area="" asp-controller="User" asp-action="AddUser">Add User</a>
</div>
<p>
All Users:
</p>
<table>
    <tr>
        <th>Id</th>
        <th>Forename</th>
        <th>Surname</th>
        <th>Role</th>
    </tr>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.forename)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.role)
            </td>
        </tr>
    }
</table>