@model change_management.Models.SystemEntity

@{
    ViewData["Title"] = "Systems";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="System" asp-action="SubmitNewSystem" >
    <div>
        <label for="name">Name:</label>
        <input asp-for="@Model.name"  type="text" name="name" value="" />
    </div>
    <div>
        <label for="code">Code:</label>
        <input asp-for="@Model.code" type="text" name="code" value="" />
    </div>
    <div>
        <label for="description">Description:</label>
        <input asp-for="@Model.description" type="text" name="description" value="" />
    </div>
    <div>
        <label for="techStack">Tech Stack:</label>
        <input asp-for="@Model.techStack"  type="text" name="techStack" value="" />
    </div>
    <div>
        <label for="contact">Point of contact:</label>
        <input asp-for="@Model.pointOfContact" type="number" name="contact" value="" />
    </div>
    <div>
        <label for="team">Owning team:</label>
        <input asp-for="@Model.owningTeam" type="number" name="team" value="" />
    </div>
    <button type="submit">Submit Form</button>
</form>