@model change_management.Models.ViewModels.AddSystemViewModel

@{
    ViewData["Title"] = "Systems";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<form asp-controller="System" asp-action="SubmitNewSystem" >
    <table id="inputTable" style="width: 50%;">
        <tr>
            <th><label for="name">Name:</label></th>
            <td><input asp-for="@Model.name"  type="text" name="name" value="" /></td>
        </tr>
        <tr>
            <th><label for="code">Code:</label></th>
            <td><input asp-for="@Model.code" type="text" name="code" value="" /></td>
        </tr>
        <tr>
            <th><label for="description">Description:</label></th>
            <td><input asp-for="@Model.description" type="text" name="description" value="" /></td>
        </tr>
        <tr>
            <th><label for="techStack">Tech Stack:</label></th>
            <td><input asp-for="@Model.techStack"  type="text" name="techStack" value="" /></td>
        </tr>
        <tr>
            <th><label for="selectedUser">Point of contact:</label></th>
            <td><select asp-for="@Model.selectedUser" asp-items="Model.users" name="selectedUser" > </select></td>
        </tr>
        <tr>
            <th><label for="selectedTeam">Owning team:</label></th>
            <td><select asp-for="@Model.selectedTeam" asp-items="Model.teams" name="selectedTeam" > </select></td>
        </tr>
    </table>
    <button type="submit">Submit Change</button>
</form>